/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --black-color: #000;
  --border-color: #bdbdbd;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}

.grid {
  width: 53.8%;
  max-width: 100%;
  margin: 0 auto;
}
